<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- First allow requests to the API directly -->
        <rule name="API" patternSyntax="ECMAScript">
          <match url="api/(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- For uploads and direct server access -->
        <rule name="StaticContent">
          <action type="Rewrite" url="{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" />
          </conditions>
        </rule>

        <!-- All other requests go to Node.js server -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="*.js;iisnode.yml"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration> 